#register {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);

    .content {
        background-color: rgb(139, 136, 136);
        height: 400px;
        width: 350px;
        display: flex;
        padding: 40px ;
        flex-direction: column;

        h2 {
            font-size: 30px;
            font-weight: bold;
        }

        form {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        input{

             width: 250px;

        }

        button{
            background-color: blue;
            width: 90%;
            color: white;
        }
    }
}